In [5]:
# library (readr)
import pandas as pd

urlfile="https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv"
df=pd.read_csv(urlfile)
# mydata<-read_csv(url(urlfile))

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
target=df['Survived']
inputs=df[['Pclass', 'Sex', 'Age', 'Fare']]

In [10]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [11]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
sex_label=LabelEncoder()
inputs['sex_n']=sex_label.fit_transform(inputs['Sex'])

C:\Users\inaze\AppData\Local\Temp\ipykernel_3852\1851559615.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['sex_n']=sex_label.fit_transform(inputs['Sex'])

In [33]:
# inputs.drop('Sex', axis=1, inplace=True)

In [19]:
inputs.head()

   Pclass   Age     Fare  sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [20]:
from sklearn import tree

In [22]:
model=tree.DecisionTreeClassifier()

In [24]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
 2   Fare    891 non-null    float64
 3   sex_n   891 non-null    int32
dtypes: float64(2), int32(1), int64(1)
memory usage: 24.5 KB

In [28]:
inputs['Age']=inputs.Age.fillna(inputs.Age.median())

C:\Users\inaze\AppData\Local\Temp\ipykernel_3852\3483315897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['Age']=inputs.Age.fillna(inputs.Age.median())

In [29]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    float64
 2   Fare    891 non-null    float64
 3   sex_n   891 non-null    int32
dtypes: float64(2), int32(1), int64(1)
memory usage: 24.5 KB

In [30]:
model.fit(inputs, target)

DecisionTreeClassifier()

In [31]:
model.score(inputs, target)

0.9775533108866442

In [32]:
model.predict([[3,22.0,7.2500,1]])

C:\Users\inaze\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)